@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Roboto:wght@300;400&display=swap');

body {
	background: #FFBAA1;
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto','Nunito', sans-serif;
	color: #000;
	font-size: 16px;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

ul li{
	display: block;
	padding: 0px;
}

.header {
	min-height: 970px;
}

.container {
	width: 990px;
	margin: 0 auto;
}

.header__menu-vector {
	margin-right: 300px;
}

header a{
	color: #000;
}

.menu {
	display: flex;
}

.menu li a {
	text-transform: capitalize;
	font-style: normal;
	text-decoration: none;
	font-size: 18px;
}   
#relax {
	text-transform: none;
}

.menu__button {
	color: #fff;
	text-decoration: none;
	user-select: none;
	background: #110ACD;
	padding: .7em 1.5em;
	outline: none;
	border-radius: 4px;
}

.menu__button:hover {
	background: #000; 
}

.menu li {
	margin-left: 64px;
}

.nav {
	display: flex;
	align-items: center;
	margin-top: 75px;
}

.header__content {
	width: 1090px;	
	min-height: 550px;
	display: flex;
	align-items: center;
	text-transform: capitalize;
	text-transform: none;
	text-decoration: none;
}

.header__content__desk-left {	
	font-size: 42px;
	font-weight: 400;
	text-align: end;	
	justify-content: space-between;
	font-family: desk-left, "Nunito", sans-serif;
	margin: 200px 0 0 50px;
	width: 321px;
	height: 256px;
}
.header__content__text {
	margin: 0 auto;
}

.header__middle__desk-right {
	margin-left: 65px;
}
.header__image {
	width: 500px;
	height: 532px;
	padding-top: 100px;
}

.middle__button {
	justify-content: space-around;
}
.middle__button-appStore {
	padding: 8px
}

.about {
	background: #fff;
	height: 1918px;
	margin: auto;
}

.about__iphone, .about__middle-right{
	text-align: center;
}

.about__iphone {
	margin: 109px 0 0 -190px;
	align-items: left;
}

.about__middle-right {
	margin: 96px 0 0 -146px;
	width: 440px;
	text-align: left;
}

.about__middle-right__text1, .about__bottom__text1 {
	font-size: 42px;
	font-family: "Nunito", sans-serif;
	font-weight: 600;
	width: 440px;
	height: 126px;
}

.about__middle-right__text2, .about__bottom__text2 {
	font-size: 22px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	line-height: 40px;
	width: 433px;
	padding: 36px 0 0 10px;
	margin: 0 auto;
}
.about__button {	
	user-select: none;
	background: #110ACD;
	padding: .7em 1.5em;
	outline: none;
	border-radius: 3px;
	margin: 37px 0 0 3px;
    width: 392px; 
	height: 65px;
	display: flex;
}
.about__button__triangle {
	width: 0px;
	height: 0px;
	border-top: 20px solid transparent;
	border-left: 34px solid #fff;
	border-bottom: 20px solid transparent;
	margin: 13px 0 0 20px;
}
.about__botton__text {
	color: #fff;
	font-size: 20px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	text-decoration: none;
	text-align: center;
	width: 277px;
	height: 35px;
	margin: 0;
	padding: 8px 0 10px 10px;
}

.about__button:hover {
	background: #000;
}
.about__bottom {
	padding: 50px;
	text-align: center;
	margin: 100px 0 0 220px;
	width: 440px;
}
.about__peeps {
	width: 1200px;	
	height: 324px;
	margin: 100px 0 0 -100px;
	background-image: url(../img/Peeps-desktop.png);
}
/* .about__peeps-desktop {
	display: block;
	margin: 100px 0 0 -110px;
	align-items: center;
} */
.footer {
	height: 345px;
}

@media screen and (max-width: 1200px) {
	.container {
		width: 1140px;
	}
}

@media screen and (max-width: 1199px) {
	.container {
		width: 846px;
	}
	.header__content {
		width: 846px;
	}
	.header__menu-vector {
		margin-right: 160px;
	}
	.header__content__text {
		font-weight: 600;
		width: 321px;
	}	
	.header__middle__desk-right {
		margin-left: 0px;
	}
	.header__image {
		width: 562px;
		height: 600px;
		margin: 70px 0 0 0;
		padding: 0px;
	}
	.middle__desk-left {	
		font-weight: 600;
	}
	.about__iphone {
		width: 732px;
		margin-left: -150px;
	}
	.about__middle-right {
		width: 406px;
		text-align: left;
	}
	.about__middle-right__text1 {
		width: 385px;
	}
	.about__middle-right__text2 {
		width: 395px;
		margin: 0;
	}
	.about__bottom {
		width: 440px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	.about__button {
		width: 392px;
		height: 65px;
	}
	.about__peeps {
		width: 991px;
		margin: 100px 0 0 -75px;
		background-image: url(../img/peeps-tablet.png);
	}
}

@media screen and (max-width: 575px) {
	.container {
		width: 347px;
	}
	.header {
		min-height: 1230px;
	}
	.header__menu {
		flex-direction: column;
	}
	.header__content {
		flex-direction: column-reverse;
    	margin: -90px 0 0 0;
    	width: 100%;
	}
	.header__image {
		width: 	480px;
		height: 511px;
	}
	.header__content__desk-left {
		font-weight: 600;
    	text-align: center;
		margin: auto;
	}
	.middle__button {
		margin-top: 25px;
	}
	.about {
		height: 1720px;
	}
	.about__content {
		flex-direction: column;
		margin: 0px;
	}
	.about__iphone {
		align-items: center;
    	width: 530px;
    	height: 455px;
   		margin: -230px 0 0 100px;
	}
	.about__middle-right {
		width: 333px;
    	align-items: center;
    	margin: 60px 0 0 0;
	}
	.about__middle-right__text2 {
		width: 328px;
    	padding: 30px 0 0 0;
	}
	.about__button {
		width: 300px;
    	margin: 37px 0 0 -6px;
	}
	.about__button__triangle {
		margin-left: 5px;
	}
	.about__botton__text {
		padding-left: 0px;
	}
	.about__bottom {
		margin-top: 150px;
    	padding: 0px;
    	width: 346px;
	}
	.about__bottom__text1 {
		font-size: 26px;
	}
	.about__bottom__text2 {
		width: 258px;
    	padding: 36px 0 0 0;
	}
	.about__peeps {
		width: 405px;
		height: 238px;
    	margin: 100px 0 0 -25px;
		background-image: url(../img/peeps-mobile.png);
	}
	.footer {
		height: 116px;
	}
}