@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Roboto:wght@300;400&display=swap');

body {
	background: #FFBAA1;
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto','Nunito', sans-serif;
	color: #000;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

ul li{
	display: block;
	padding: 0px;
}

.vector {
	margin-right: 300px;
}

.container {
	width: 990px;
	height: 847px;
	margin: 0 auto;
}

header a{
	color: #000;
}

.menu {
	display: flex;
}

.menu li a {
	text-transform: capitalize;
	font-style: normal;
	text-decoration: none;
	font-size: 18px;
}   
#relax {
	text-transform: none;
}

.button1 {
	color: #fff;
	text-decoration: none;
	user-select: none;
	background: #110ACD;
	padding: .7em 1.5em;
	outline: none;
	border-radius: 4px;
}

.button1:hover {
	background: #000; 
}

.menu li {
	margin-left: 64px;
}

.nav {
	display: flex;
	align-items: center;
	padding-top: 75px;
}

.middle {
	width: 1090px;	
	height: 550px;
	display: flex;
	text-transform: capitalize;
	text-transform: none;
	text-decoration: none;
}
.desk-right {
	margin: 75px 0 0 0;
}
.desk-left {	
	font-size: 42px;
	font-weight: 400;
	text-align: right;	
	justify-content: space-between;
	font-family: desk-left, "Nunito", sans-serif;
	margin: 200px 0 0 50px;
	width: 421px;
	height: 256px;
}
.app_play {
	margin-top: auto;
	margin-right: auto;
}
.container-middle {
	height: 1808px;
	width: 990px;
	margin: auto;
}
.about {
	background: #fff;
	height: 1808px;
	margin: auto;
}
.tel {
	margin: 109px 0 0 -190px;
	align-items: left;
}
.middle-right {
	margin: 96px 0 0 -146px;
}
.text1 {
	font-size: 42px;
	font-family: "Nunito", sans-serif;
	font-weight: 600;
	width: 440px;
	height: 126px;
}
.text2 {
	font-size: 22px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	line-height: 40px;
	width: 433px;
	margin: 36px 0 0 10px;
}
.button2 {	
	color: #fff;
	font-size: 20px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	text-decoration: none;
	text-align: center;
	user-select: none;
	background: #110ACD;
	padding: .7em 1.5em;
	outline: none;
	border-radius: 4px;
	height: 87px;
	margin: 37px 0 0 0;
}
.under-text {
	text-align: center;
	margin: 100px 0 0 300px;
	width: 440px;
}
.peeps {
	display: block;
	margin: 100px 0 0 -110px;
}
